body {
    background-color: #ffffff;
}
@font-face {
    font-family: 'Gill Sans MT';
    src: local('Gill Sans MT'), url(./fonts/gill-sans-mt.ttf) format('truetype');
}
@font-face {
    font-family: 'Arial Rounded MT';
    src: local('Arial Rounded MT'), url(./fonts/arial-rounded-mt.ttf) format('truetype');
}