@import url("https://fonts.googleapis.com/css2?family=Anton&family=Play:wght@400;700&display=swap");

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.main {
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
}