@import url("https://fonts.googleapis.com/css2?family=Anton&family=Play:wght@400;700&display=swap");

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.base {
  transform: translateY(calc(-100vh / 12));
  display: flex;
  width: 2600px;
  flex-direction: column;
  font-family: "Play", sans-serif;
  font-weight: 700;

  .animWrapper {
    display: flex;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 20s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }

  .animWrapper2 {
    display: flex;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 18s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }

  .animWrapper3 {
    display: flex;
    opacity: 90%;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 16s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }

  .animWrapper4 {
    display: flex;
    opacity: 70%;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 14s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }

  .animWrapper5 {
    display: flex;
    opacity: 65%;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 12s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }

  .animWrapper6 {
    display: flex;
    opacity: 60%;

    span {
      font-size: calc(100vh / 6);
      animation-name: marquee;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      white-space: nowrap;
    }
  }
}